<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<p>
  <a>Primary</a>
</p>

<p>
  <a>Secondary</a>
</p>

<p>
  <a>Success</a>
</p>

<p>
  <a>Danger</a>
</p>

<p>
  <a>Warning</a>
</p>

<p>
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a>Primary (unobtrusive)</a>
</p>

<p>
  <a>Secondary (unobtrusive)</a>
</p>

<p>
  <a>Success (unobtrusive)</a>
</p>

<p>
  <a>Danger (unobtrusive)</a>
</p>

<p>
  <a>Warning (unobtrusive)</a>
</p>

<p>
  <a>Info (unobtrusive)</a>
</p>
